.navbar_container {
  ::-webkit-scrollbar {
    opacity: 0;
    width: 7px;

    &:hover {
      opacity: 1;
    }
  }

  ::-webkit-scrollbar-track {
    background: #405189;
  }

  ::-webkit-scrollbar-thumb {
    background: #717fa0;
    /* background: linear-gradient(#642bff, #ff22e6); */
    border-radius: 10px;
  }

  @media screen and (max-width: 1280px) {
    transform: translateX((-100%));
  }
}

.navbar_mobile_active {
  @media screen and (max-width: 1280px) {
    transform: translateX(0);
  }
}
